@using Model
@model Model.SysLibrary
@using Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="weadmin-body">
    <form id="form1" class="layui-form">
        @Html.HiddenFor(model => Model.ID)
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">基本设置</li>
                <li>场馆介绍</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <!--tab1 content-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">场馆类型</label>
                        <div  class="layui-input-block" style="max-width:150px">
                            <select name="Type" id="Type" lay-verify="required" lay-filter="type-select" onchange="SetSelect(this)">
                                <option value="0" data-level="0">总馆</option>
                                <option value="1" data-level="0">分馆</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">上级场馆</label>
                        <div class="layui-input-block" style="max-width:240px">
                            <select name="FatherLibraryId" id="FatherLibraryId" lay-verify="required" lay-filter="pid-select">
                                @foreach (SysLibrary item in ViewData["datalist"] as List<SysLibrary>)
                                {
                                    <option value="@item.ID" data-level="1">@item.LibraryName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">场馆名称</label>
                        <div class="layui-input-block" style="max-width:500px">
                            <input type="text" name="LibraryName" lay-verify="required" jq-error="请输入场馆名称" value="@Model.LibraryName" placeholder="请输入场馆名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!--//tab1 content-->
                </div>
                <div class="layui-tab-item">
                    <!--tab3 content-->
                    <div id="editor">
                    </div>
                    <textarea class="layui-hide" id="Describe" style="width:100%; height:200px;" name="Describe" hidden>@(new HtmlString(Model.LibraryDescribe))</textarea>
                    <!--//tab3 content-->
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="editTopic" lay-submit="" lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary layui-hide">重置</button>
            </div>
        </div>
    </form>
</div>
<!--场馆类型-->
@Html.HiddenFor(sysLibrary => sysLibrary.Type, new { id = "LibraryType" })
<!--父场馆ID-->
@Html.HiddenFor(sysLibrary => sysLibrary.FatherLibraryId, new { id = "LibraryId" })
<script src="@HtmlHelperExtend.GetCssJsUrl(Url.Content("~/Content/wangEditor/js"))" type="text/javascript" charset="utf-8"></script>
<script src="@HtmlHelperExtend.GetCssJsUrl(Url.Content("~/Library/edit/js"))" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    var text1 = document.getElementById('Describe');
    text1.value = encodeURIComponent('@(new HtmlString(Model.LibraryDescribe))');
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        text1.value = encodeURIComponent(html);
    }        
    // 使用 base64 保存图片
    editor.customConfig.uploadImgShowBase64 = true;
    editor.create();
    var Describe = '@(new HtmlString(Model.LibraryDescribe))';
    editor.txt.html(Describe);
</script>